__pycache__/
.pytest_cache
.ruff_cache
*.py[cod]
*$py.class
*.so
.venv/

*.jsonl
!data/static/
!data/static/**
data/raw/*
data/prepared/*
data/cache/*
data/.locks/
!data/raw/.gitkeep
!data/prepared/.gitkeep
!data/cache/.gitkeep

.env

.DS_Store

.vscode/
.idea/
*.swp
*.swo

logs/
